<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Loveman.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Loveman.Properties.Settings>
            <setting name="Path_Love" serializeAs="String">
                <value />
            </setting>
            <setting name="Path_Projects" serializeAs="String">
                <value />
            </setting>
            <setting name="Path_Editor" serializeAs="String">
                <value />
            </setting>
            <setting name="Path_SublimeMerge" serializeAs="String">
                <value />
            </setting>
            <setting name="Path_Lovr" serializeAs="String">
                <value />
            </setting>
            <setting name="LoveNotFound_Warning_Shown" serializeAs="String">
                <value>False</value>
            </setting>
        </Loveman.Properties.Settings>
    </userSettings>
</configuration>
